Portfolio Project (300 pts)Pick an industry and identify a data problem that can be solved using advanced predictive analytics. For the problem you identified, describe all the CRISP-DM phases that will be followed starting from Setting up/Defining/Identification of the problem thru the deployment phase.Your final project should contain the following:Data CRISP-DM life cycle phasesLogical architecture diagram as applicableHow would the SAS Enterprise miner’s Predictive Analytical functions explored in this course be used (where applicable) to help you with the analysis. If it is not SAS Enterprise Miner, what another tool would you recommend? And Why?Summary and conclusionRequirements:Your written paper should be 10-12 pages in length not counting the title and reference pages, which you must include.Integrate concepts, terms, and theories from the readings and module content.